
  <form id="userForm" class="page-content">
    <div class="navbar navbar-static-top navbar-default">
      <div class="navbar-content">
        <input type="submit" class="btn btn-default navbar-btn pull-right" value="Save" />        
        <h1 class="unselectable">Account</h1>
      </div>
    </div><!--/navbar-->
  
  
    <div class="page-content-body scrollbars">
      <div class="grid">
        {{#errors}}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{message}}
        </div>
        {{/errors}}
        
        <h4>Login Credentials</h4>
        <div class="row">
          <div class="col-sm-4"><p>Your email address will be used to login to your account and receive any messages sent to you. This will not be displayed to other users.</p></div>
          <div class="col-sm-8">
            <div class="form-group">
              <label for="userEmail">Email</label>
              <input type="email" class="form-control" id="userEmail" name="email" placeholder="Enter Your Email Address" value="{{user.email}}">
            </div>
          </div>
        </div>
        <br>
        <h4>Change Your Password</h4>
        <div class="row">
          <div class="col-sm-4"><p>If you wish to change your password enter your current password and choose a new one.</p></div>
          <div class="col-sm-8">
            {{!-- 
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" name="current_password" placeholder="Enter Your Current Password" value="">
            </div>
            <hr>
            --}}
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="password" placeholder="Choose a New Password" value="">
            </div>
            <div class="form-group">
              <label for="passwordConfirmation">Confirm Password</label>
              <input type="password" class="form-control" id="passwordConfirmation" name="password_confirmation" placeholder="Confirm Your New Password" value="">
            </div>
          </div>
        </div>


      </div>
    </div><!--/content-body-->
  </form><!--/content-->